/* --- VARIABLES ---*/
@import url("https://fonts.googleapis.com/css?family=Charmonman|Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
/* COLORS */
/* FONTS */
/* Font family */
/* Font sizes */
body {
  background-image: url("../media/mat.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1, #text-2, small {
  font-family: "Fjalla One", sans-serif;
}

h3, #text-1 {
  font-family: "Charmonman", cursive;
}

p, label, input {
  font-family: "Quicksand", sans-serif;
}

header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  height: auto;
  margin-bottom: 3em;
  padding: 2em 2em;
}
header h1 {
  text-align: center;
  margin: 0;
  font-size: 3em;
}
header p {
  text-align: center;
  margin: 0;
}

.section-1 {
  background-color: rgba(255, 255, 255, 0.8);
  display: grid;
  grid-gap: 3em;
  padding-top: 3em;
}
.section-1 h2 {
  text-align: center;
}

.section-1-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding-bottom: 3em;
}
.section-1-2 #text-1 {
  font-size: 3em;
}
.section-1-2 #text-2 {
  font-size: 1.5em;
}

.section-1-1-1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.section-2 {
  text-align: center;
}

.section-3 {
  width: 60%;
  height: 100%;
  margin: auto;
  background-color: azure;
}
.section-3 h3 {
  margin: 0;
  font-size: 6em;
}

main {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 1000px) {
  main {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .section-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section-1-2 {
    grid-template-columns: 1fr;
  }
}
