header {
    width: 100%;
    background-color: rgba($color: #fff, $alpha: 0.5);
    height: auto;
    h1 {
        text-align: center;
        margin: 0;
    }
    p {
        text-align: center;
        margin: 0;
    }
}