body {
    background-image: url("../media/mat.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1, #text-2, small {
    font-family: $font-main;
}

h3, #text-1  {
    font-family: $font-second;
}

p, label, input {
    font-family: $font-third;
}