body {
    background-image: url("../media/rest.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1, #text-2, small {
    font-family: $font-main;
}

h3, #text-1  {
    font-family: $font-second;
}

p, label, input {
    font-family: $font-third;
}

.all {
    width: 100%;
}

canvas {
    max-width: 100%;
    max-height: 100%;
}