@media only screen and (max-width: 1000px) {
    main {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .section-1-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3em;
    }

    .section-1-2 {
        grid-template-columns: 1fr;
    }

    header p {
        margin-top: 1em;
    }

    h2 {
        font-size: $font-size-second;
    }
}