.section-1 {
    background-color: rgba($color: #fff, $alpha: 0.8);
    h2 {
        text-align: center;
    }
    display: grid;
    grid-gap: 3em;
    padding-top: 3em;
}

.section-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding-bottom: 3em;
    
    #text-1 {
        font-size: $font-size-second;
    }

    #text-2 {
        font-size: $font-size-third;
    }

    input {
        padding: $font-size-fourth;
    }
}

.section-1-1-1 {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}


.section-2 {
    text-align: center;
    
}

.section-3 {
    width: 60%;
    height: 100%;
    margin: auto;
    background-color: azure;
    h3 {
        margin: 0;
        font-size: $font-size-main;
    }
}


main {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}
