/* --- VARIABLES ---*/

@import url('https://fonts.googleapis.com/css?family=Charmonman|Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* COLORS */
$primary-color: rgba($color: #fff, $alpha: 0.8);
$secondary-color: #ffa10a;
$tertiary-color:#CE9A3A;
$quaternary-color: #000000;
$quinary-color: #FFFFFF;

/* FONTS */

/* Font family */
$font-main: 'Fjalla One', sans-serif;
$font-second: 'Charmonman', cursive;
$font-third: 'Quicksand', sans-serif;

/* Font sizes */
$font-size-main: 6em;
$font-size-second: 3em;
$font-size-third: 1.5em;
$font-size-fourth: 0.5em;