/* --- VARIABLES ---*/

@import url('https://fonts.googleapis.com/css?family=Charmonman|Fjalla+One');

/* COLORS */
$primary-color: #305E36;
$secondary-color: #4A2621;
$tertiary-color:#CE9A3A;
$quaternary-color: #000000;
$quinary-color: #FFFFFF;

/* FONTS */

/* Font family */
$font-main: 'Fjalla One', sans-serif;
$font-second: 'Charmonman', cursive;

/* Font sizes */
$font-size-main: 6em;
$font-size-second: 2em;
$font-size-third: 1em;